.glow {
  color: (109, 216, 219);
  /* text-shadow:0px 0px 30px rgb(109, 216, 219); */
}
.about-description ul {
  padding-top: 20px;
  padding-left: 0;
  /* list-style-type: none; */
  /* display: grid; */
  grid-template-columns: repeat(4, minmax(130px, 10px));
}


/* .logo {
  display: inline-block;
  transition: background-color 0.5s ease;
} */

.js:hover {
  color: aliceblue;
  background-color: #ffcc22; 
}
.react:hover{
  color: aliceblue;
  background-color: aqua;
}
.node:hover{
  color: aliceblue;
  background-color: rgb(15, 121, 11);
}
.python:hover{
  color: aliceblue;
  background-color: #2d7fb2;
}
.html:hover{
  color: aliceblue;
  background-color: rgb(198, 37, 34);
}
.css:hover{
  color: aliceblue;
  background-color: rgb(42, 119, 207);
}
.json:hover{
  color: #eac719;
  background-color: grey;
}
.mongo:hover{
  color: aliceblue;
  background-color: rgb(44, 216, 44);
}
.csharp:hover{
  /* color: aliceblue; */
  color: rgb(18, 104, 27);
  /* background-color: rgb(18, 104, 27); */
}
.sqlserver:hover{
  color: aliceblue;
  background-color: grey;
}
.mysql:hover{
  color: #005e86;
  background-color: #dd8a00;
}
.php:hover{
  color: aliceblue;
  background-color: #818cf8;
}
.firebase:hover{
  color: #eac719;
  background-color: white;

}
.git:hover{ 
  background-color: white;
  color: #e84d31;
}
.githubb:hover{
  background-color: white;
  color: black;
}
.typescript:hover{
  color: #2f74c0;
  background-color: white;
  /* background-color: #2f74c0; */
}
.nextjs:hover{
  background-color: white;
  color: black;
}

@media (min-width: 600px) {
  .about-description ul {
    display: grid;
    grid-gap: 5px;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(2, 1fr minmax(200px, 10px)); */
    /* margin-right: 10%; */
    /* margin-left: 20%; */

  }
}

@media (min-width: 900px) {
  .about-description {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(3, 1fr minmax(150px, 10px)); */
    
  }
}

  
  
  .about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
  }
  
  .about-description li::before {
    content: "▹    ";
    position: absolute;
    left: 0;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
  }
  
  .about-description {

    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    font-size: 20px;
    margin: 0;
  }
  
  .about-content {
      display: unset;
    }

  .second{
    margin-left: 30%;
    margin-top: -70px;
  }
