#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 18%;
    min-height: 100vh;
  }
.intro-name{
  color:rgb(109, 216, 219)
  /* color:rgb(95, 223, 223) */
}