.projects{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



.container {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    display: grid;
    padding-left: 17%;
    gap:1rem;
    padding-top:5%
    /* background-color: aqua; */
    /* margin-top: 30px; */

  }
  @media (min-width: 600px) {
    .container { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  }

  .folder{
    /* margin-left: 180px; */
    color: rgb(109, 216, 219);
    margin-left: 10px;
    margin-top: 15px;
  }

  .cards{
    background-color:#11203a;
    /* background-color: #112240; */

    /* width: 240px;
    height: 350px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px; */


    padding: 1rem;
    width: 15rem;
    height: 23rem;
    border-radius: 25px;

  }

   

  .tech{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 10px;
  }
  .github{
    padding: 11px;
    margin-left: 195px;
    margin-right: 10px;
    font-size: 27px;
  }
  .icon{
    padding: 13px;
    margin-top: -53px;
    margin-left: 166px;
    margin-right: 10px;
    font-size: 20px;
  }

  .cards p{
    padding: 10px;
}


.cards { 
    transition: all .4s ease-in-out; 
}
.cards:hover { 
        transform: scale(1.1); 
    }

.grow {
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(0.5); 
}
.cards:hover {
    transform: scale(1.1);
}
.cards:hover{
    background-color: #112240;
}

    /* background-color: #233554; */
