.projects{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.container {
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .cards{
    background-color: #112240;
    width: 240px;
    height: 350px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
  }
  .tech{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 10px;
  }
  .github{
    padding: 11px;
    margin-left: 195px;
    margin-right: 10px;
    font-size: 27px;
  }
  .icon{
    padding: 13px;
    margin-top: -53px;
    margin-left: 166px;
    margin-right: 10px;
    font-size: 20px;
  }

  .cards p{
    padding: 10px;
}


.cards { 
    transition: all .4s ease-in-out; 
}
.cards:hover { 
        transform: scale(1.1); 
    }

.grow {
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(0.5); 
}
.cards:hover {
    transform: scale(1.1);
}
.cards:hover{

    background:#11203a;

}