.projects{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



.container {
    /* display: flex; */
    /* margin-right: 30px; */

    /* css grid */
    /* display: grid;
    grid-template-columns: auto auto auto; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 0rem;
  
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: repeat(6,330px);
    grid-gap: 5rem;
    grid-auto-flow: dense; */

    /* display: flex;
    flex-wrap: wrap; */


    margin-top: 30px;

/* ____________________________________ */
    /* display: grid;
    grid-template-columns: auto auto auto;

    margin-top: 30px;

    flex-direction: row; */
/* _____________________________ */



    /* flex-wrap: wrap; */

    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: aliceblue; */
  }

  /* .cunt{
    display: grid;
    grid-template-columns: auto auto auto;

    background-color: aliceblue;
  } */

  .folder{
    /* margin-left: 180px; */
    color: rgb(109, 216, 219);
    margin-left: 10px;
    margin-top: 15px;
  }

  .cards{
    background-color:#11203a;
    /* background-color: #112240; */

    width: 240px;
    height: 350px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
  }
  .tech{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 10px;
  }
  .github{
    padding: 11px;
    margin-left: 195px;
    margin-right: 10px;
    font-size: 27px;
  }
  .icon{
    padding: 13px;
    margin-top: -53px;
    margin-left: 166px;
    margin-right: 10px;
    font-size: 20px;
  }

  .cards p{
    padding: 10px;
}


.cards { 
    transition: all .4s ease-in-out; 
}
.cards:hover { 
        transform: scale(1.1); 
    }

.grow {
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(0.5); 
}
.cards:hover {
    transform: scale(1.1);
}
.cards:hover{
    background-color: #112240;
    /* background-color: #233554; */
}