h1{
  color:rgb(109, 216, 219)

}

/* Default styles for larger screens */
.tab-content {
    /* display: flex; */
    margin-left: 1%;
    margin-top: 1%;
    width: 70%;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* border-bottom: 1px solid #ccc; */
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: #344354;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    border-radius: 5px;
  }
  

  

/*   color:rgb(109, 216, 219)
 */
 .tab-list-item{
  color:rgb(109, 216, 219);
 }

.tab-list-item:hover{
  cursor: pointer;
  color: aqua;
  /* color: aliceblue; */
}
  
/* Default styles for larger screens */
/* ... (your existing styles) ... */

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .tabs {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .tab-list,
  .tab-content {
    width: 100%; /* Take up full width when in a column layout */
  }

  .tab-content {
    order: 2; /* Display .tab-content below .tab-list */
  }

  .tab-content-item,
  .tab-list-item {
    width: 100%; /* Occupy full width on smaller screens */
  }
}

