h1{
  color:rgb(109, 216, 219);
}

h4{
  color:rgb(109, 216, 219);
}

li::marker {
  color:rgb(109, 216, 219);
}


/* Default styles for larger screens */
.tab-content {
    /* display: flex; */
    margin-left: 1%;
    /* margin-top: 1%; */
    font-size: 18px;

    width: 80%;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* border-bottom: 1px solid #ccc; */
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  /* .tab-list-active {
    background-color: #344354;
    border-radius: 5px;
  } */
 


  .tab-list-active {
    background-color: #344354;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .tab-list-item {
    cursor: pointer;
    transition: background-color 0.3s;
  }



  .tab-list-item:hover {
    display: inline-block;
    transition: background-color 0.9s ease; /* Define the property you want to transition */
    /* background-color: white; */
    /* background-color: #344354; */
}


  

/*   color:rgb(109, 216, 219)
 */
 .tab-list-item{
  text-align: center;
  color:rgb(109, 216, 219);
  font-size: 18px;

 }

.tab-list-item:hover{
  display: inline-block;
  transition: background-color 2s ease;
  cursor: pointer;
  color: aqua;
  /* background-color: #344354; */
}
  
/* Default styles for larger screens */
/* ... (your existing styles) ... */

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .tabs {
    flex-direction: column; /* Stack items vertically on smaller screens */

  }

  .tab-list,
  .tab-content {
    width: 100%; /* Take up full width when in a column layout */

  }

  .tab-content {
    order: 2; /* Display .tab-content below .tab-list */
  }

  .tab-content-item,
  .tab-list-item {
    width: 100%; /* Occupy full width on smaller screens */
  }
}

